Description=aml

[Service]
Type=simple
User=root
WorkingDirectory=/root/AlertaML
ExecStart=/usr/bin/sh -c "tail -F /var/log/nginx/access.log 2>/dev/null | /usr/bin/sh /root/AlertaML/capture_traffic.sh"

[Install]
WantedBy=multi-user.target
