html,body
{
    margin: 0;
    height: 100%;
    background: #211d2b;
    background: linear-gradient(#211d2b,black) fixed;

}

.motto{
    font-style: italic;
    text-transform: lowercase;
    color: #fff;
    margin-bottom: 10%;
    margin-right: 2%;
    text-align: right;
    font-size: 90%;
}
p {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif
}

h3 {
    color: #6a83c7;
    font-size: 95%;
    font-family: Trebuchet, Georgia, serif;
}

a {
    color: #d2d2c7;
    text-decoration: underline;
}


.title {
    color: #fff;
    padding-left: 2%;
}


.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.network {
    font: 90% "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    align-items: flex-start;

}
.row {
    display: flex;
    margin-left: 10%;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
.subtitle{

    border-bottom: 1px #5e5e5e solid;
}

.network li {
    list-style-type: none;
    border-bottom: 1px dotted #fff;
    background-color: #46516e;
    margin-top: 2px;
}

.network li a {
    display: block;
    text-decoration: none;
    min-height: 1.5em;
    padding: 0 10px 0 40px;
    border: none;
    color: rgb(255, 255, 255);
}

.network li a:hover{

    background-color: #ffffff;
}
.network li a:hover{

    color: rgb(0, 0, 0);
}

.archive{
    color: #6a83c7;
    font-family: Trebuchet, Georgia, serif;
}
.recent {

    color: #fff;
    margin-right: 3%;
}